<% content_for :page_title, 'Aircraft' -%>
<% content_for :page_description, 'View, Edit and blah aircraft' -%>
<% content_for :page_actions do %>
  <button type="button" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add
    user
  </button>
<% end -%>
<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
            Registration
          </th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            Type
          </th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            Configuration
          </th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            Operated By
          </th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            Owner
          </th>
          <th scope="col" class="py-3.5 text-left text-sm font-semibold text-gray-900 sm:pl-0">
            Status
          </th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
        <%= render partial: 'aircraft', collection: @aircraft %>
        <tr class="hover:bg-purple-50">
          <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
            <div class="flex items-center">
              <div class="size-14 ml-1 flex-shrink-0">
                <img class="object-cover size-14 rounded-2xl border-2 border-purple-700 shadow-xl" src="https://www.aeroboek.nl/429/57464_VH8LL_1C.png" alt="">
              </div>
              <div class="ml-4">
                <span class="font-medium text-gray-900">VH-8LL</span>
                <div class="mt-1 text-gray-500">7CADB7</div>
              </div>
            </div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">Bell 429 GlobalRanger (MSN: 57464)</div>
            <div class="mt-1 text-gray-500">B429</div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">B429</div>
            <div class="mt-1 text-gray-500">2x PW207D1 (Turboshaft)</div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">Prime Flight Pty Ltd</div>
            <div class="mt-1 text-gray-500">&nbsp;</div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">Prime Flight Pty Ltd</div>
            <div class="mt-1 text-gray-500">Perth, WA, Australia</div>
          </td>
          <td class="whitespace-nowrap py-5">
            <%= aircraft_status_badge('Active') %>
          </td>
          <td>
            <div class="grid grid-cols-3 gap-x-3 text-left">
              <i class="fa-solid fa-magnifying-glass text-blue-500"></i>
              <i class="fa-solid fa-flag text-yellow-500"></i>
              <i class="fa-regular fa-pen-to-square text-gray-700"></i>
            </div>
          </td>
        </tr>
        <tr class="hover:bg-purple-50">
          <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
            <div class="flex items-center">
              <div class="size-14 ml-1 flex-shrink-0">
                <img class="size-14 rounded-2xl border-2 border-purple-700 shadow-xl" src="https://cdn.jetphotos.com/full/5/1231293_1703494746.jpg" alt="">
              </div>
              <div class="ml-4">
                <span class="font-medium text-gray-900">VH-X4B</span>
                <div class="mt-1 text-gray-500">7C78A9</div>
              </div>
            </div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">Airbus A220-300 (MSN: 55253)</div>
            <div class="mt-1 text-gray-500">BCS3</div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">A236</div>
            <div class="mt-1 text-gray-500">2x PW1524G-3 (Turbofan)</div>
          </td>

          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">QantasLink / National Jet Systems</div>
            <div class="mt-1 text-gray-500">(QJE/QF)</div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">Qantas Airways Limited</div>
            <div class="mt-1 text-gray-500">Mascot, NSW, Australia</div>
          </td>
          <td class="whitespace-nowrap py-5">
            <%= aircraft_status_badge('Active') %>
          </td>
          <td>
            <div class="grid grid-cols-3 gap-x-3 text-left">
              <i class="fa-solid fa-magnifying-glass text-blue-500"></i>
              <i class="fa-solid fa-flag text-yellow-500"></i>
              <i class="fa-regular fa-pen-to-square text-gray-700"></i>
            </div>
          </td>
        </tr>
        <tr>
          <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
            <div class="flex items-center">
              <div class="size-14 flex-shrink-0">
                <img class="size-14 rounded-2xl" src="https://cdn.jetphotos.com/full/5/1231293_1703494746.jpg" alt="">
              </div>
              <div class="ml-4">
                <span class="font-medium text-gray-900">VH-X4A</span>
                <div class="mt-1 text-gray-500">7C78A8</div>
              </div>
            </div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">
              Airbus A220-300
            </div>
            <div class="mt-1 text-gray-500">
              BCS3 (A236), MSN: 55253
            </div>
          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div>
              <span class="text-gray-500"><%= cabin_configuration('C10Y127').join(', ') %></span>
            </div>
            <div class="mt-1 text-gray-500">2x Pratt & Whitney PW1524G-3 (Geared Turbofan)</div>
          </td>

          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div>
              <span class="text-gray-900">
                QantasLink / National Jet Systems
              </span>
              <span class="text-gray-500">
                (QJE/QF)
              </span>
            </div>
            <div class="mt-1">

              <span class="text-gray-500 italic">
                as &quot;Minyma Kutjara Tjukurpa&quot;
              </span>
            </div>

          </td>
          <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
            <div class="text-gray-900">Qantas Airways Limited</div>
            <div class="mt-1 text-gray-500">Mascot, NSW, Australia</div>
          </td>
          <td class="whitespace-nowrap py-5">
            <%= aircraft_status_badge('Active') %>
          </td>
          <td>
            <div class="grid grid-cols-3 gap-x-3 text-left">
              <i class="fa-solid fa-magnifying-glass text-blue-500"></i>
              <i class="fa-solid fa-flag text-yellow-500"></i>
              <i class="fa-regular fa-pen-to-square text-gray-700"></i>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
